<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Xenon Boostrap Admin Panel" />
    <meta name="author" content="" />

    <title>{{ site_title }} - Login</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/fonts/linecons/css/linecons.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/fonts/fontawesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/xenon-core.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/xenon-forms.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/xenon-components.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/xenon-skins.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/custom.css') }}">

    <script src="{{ asset('bundles/admin/js/jquery-1.11.1.min.js') }}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        jQuery(document).ready(function($)
        {
            // Reveal Login form
            setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);

            // Set Form focus
            $("form#login .form-group:has(.form-control):first .form-control").focus();
        });
    </script>

</head>
<body class="page-body login-page login-light">


<div class="login-container">

    <div class="row">

        <div class="col-sm-6">

            <!-- Errors container -->
            <div class="errors-container">


            </div>
            {% block fos_user_content %}{% endblock %}
        </div>

    </div>

</div>


<!-- Bottom Scripts -->
<script src="{{ asset('bundles/admin/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/admin/js/TweenMax.min.js') }}"></script>
<script src="{{ asset('bundles/admin/js/resizeable.js') }}"></script>
<script src="{{ asset('bundles/admin/js/joinable.js') }}"></script>
<script src="{{ asset('bundles/admin/js/xenon-api.js') }}"></script>
<script src="{{ asset('bundles/admin/js/xenon-toggles.js') }}"></script>
<script src="{{ asset('bundles/admin/js/jquery-validate/jquery.validate.min.js') }}"></script>
<script src="{{ asset('bundles/admin/js/toastr/toastr.min.js') }}"></script>


<!-- JavaScripts initializations and stuff -->
<script src="{{ asset('bundles/admin/js/xenon-custom.js') }}"></script>

</body>
</html>