{% extends 'AdminBundle:CRUD:default.html.twig' %}

{% block crud_default %}

    <style>
        .parent-collection > div {
            display: block;
            padding: 10px;
            margin: 20px 0;
            border-bottom: 1px #ccc solid;
        }

        .child-collection {
            display: block;
            margin-top: 10px;
            margin-left: 50px;
        }

        .child-collection > div {
            margin: 5px 0;
            padding: 10px;
            border: 1px #2c2e2f solid;
            background-color: #979898;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        .form-group .control-label {
            font-weight: bold;
        }

        /*.form-group{*/
        /*height: 25px;*/
        /*clear: both;*/
        /*}*/
        label {
            color: black;
        }
    </style>

    <div class="form-group">
        <a href="{{ path('goal_overview') }}">
            <button class="btn btn-white">Back to overview</button>
        </a>
    </div>

    <div class="col-md-12">

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#general" data-toggle="tab" aria-expanded="true">
                    <span class="visible-xs"><i class="fa-home"></i></span>
                    <span class="hidden-xs">General</span>
                </a>
            </li>
            <li class="">
                <a href="#milestones" data-toggle="tab" aria-expanded="false">
                    <span class="visible-xs"><i class="fa-user"></i></span>
                    <span class="hidden-xs">Milestones</span>
                </a>
            </li>
        </ul>
        {{ form_start(form) }}
        <div class="tab-content">
            <div class="tab-pane active" id="general">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="col-sm-12">
                            {{ form_row(form.title) }}
                        </div>
                        <div class="col-sm-6">
                            {{ form_row(form.duration) }}
                        </div>
                        <div class="col-sm-6">
                            {{ form_row(form.durationUnit) }}
                        </div>
                        <div class="col-sm-12">
                            {{ form_row(form.file) }}
                        </div>
                        <div class="col-sm-12">
                            {{ form_row(form.category) }}
                        </div>
                        <div class="col-sm-12">
                            {{ form_row(form.communityCategory) }}
                        </div>
                        <div class="col-sm-12">
                            {{ form_row(form.description) }}
                        </div>
                        <div class="col-sm-12">
                            {{ form_row(form.additionalDescription) }}
                        </div>

                        <br/>
                    </div>
                    <div class="col-sm-4"
                         style="padding: 10px; min-height:200px; text-align: center; border: solid #ccc 1px;">
                        <img src="{{ asset('data/uploads') }}/{{ goal.icon }}"/>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="milestones">
                {{ form_widget(form.milestones) }}
                <div style="clear: both;"></div>
            </div>
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Save"/>
            {{ form_end(form) }}
        </div>
    </div>
    <script>
        $(function () {
            $('.tab-pane input, .tab-pane textarea').on('invalid', function () {

                // Find the tab-pane that this element is inside, and get the id
                var $closest = $(this).closest('.tab-pane');
                var id = $closest.attr('id');

                // Find the link that corresponds to the pane and have it show
                $('.nav a[href="#' + id + '"]').tab('show');

            });
        });
    </script>
{% endblock %}