{% extends 'AdminBundle:CRUD:default.html.twig' %}

{% block crud_default %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for item in entity %}
            <tr>
                {#<td><a href="{{ path('goal_show', { 'id': item.id }) }}">{{ item.id }}</a></td>#}
                <td><img src="{{ asset('data/uploads') }}/{{ item.icon }}" width="25px"/> </td>
                <td>{{ item.title }}</td>
                <td>{% if item.category != '' %} {{ item.category.title }} {% endif %}</td>
                <td>
                    <div class="vertical-top action-buttons">
                        <a href="{{ path('goal_edit', { 'id': item.id }) }}">
                            <button class="btn btn-green btn-icon btn-action">
                                <i class="fa fa-edit"></i>
                                <span>Edit</span>
                            </button>
                        </a>
                        <a href="{{ path('goal_delete', { 'id': item.id }) }}">
                            <button class="btn btn-red btn-icon btn-action">
                                <i class="fa fa-remove"></i>
                                <span>Delete</span>
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="form-group">
        <a href="{{ path('goal_create') }}"><button class="btn btn-white">Create new goal</button></a>
    </div>
{% endblock %}
