{% extends 'AdminBundle:CRUD:default.html.twig' %}

{% block crud_default %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.firstname }} {{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <div class="vertical-top action-buttons">
                        <a href="{{ path('user_edit', { 'id': user.id }) }}">
                            <button class="btn btn-green btn-icon btn-action">
                                <i class="fa fa-edit"></i>
                                <span>Edit</span>
                            </button>
                        </a>
                        <a href="{{ path('user_edit', { 'id': user.id }) }}">
                            <button class="btn btn-red btn-icon btn-action">
                                <i class="fa fa-remove"></i>
                                <span>Delete</span>
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#<div class="form-group">#}
        {#<a href="{{ path('user_create') }}"><button class="btn btn-white">Create new user</button></a>#}
    {#</div>#}
{% endblock %}
