{% extends 'AdminBundle:CRUD:default.html.twig' %}

{% block crud_default %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ user.fullName }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ user.gender }}</td>
            </tr>
            <tr>
                <th>Facebookuserid</th>
                <td>{{ user.facebookUserId }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ user.telephone }}</td>
            </tr>
            <tr>
                <th>Lastactivity</th>
                <td>{% if user.lastActivity %}{{ user.lastActivity|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Notificationuserid</th>
                <td>{{ user.notificationUserId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_overview') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
