{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    {% for message in app.session.flashBag('error') %}
        <div class="flash-notice round">
            {{ message.0 }}
        </div>
    {% endfor %}
    <h2>Password reset</h2>
    {{ form_errors(form) }}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-push round" type="submit" value="Save"/>
    {{ form_end(form) }}
{% endblock %}